<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCF4n2OfiobFZzI4ajQ6SyUygO0hmhgOCE</string>
	<key>GCM_SENDER_ID</key>
	<string>684467698659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelBuddy</string>
	<key>PROJECT_ID</key>
	<string>travel-buddy-8cec7</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-buddy-8cec7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684467698659:ios:d96628b25404ad278abed6</string>
</dict>
</plist>